<% provide(:title, 'About Twixionary') %>
<h1>About Twixionary</h1>

<body>
	<div class="hero-unit">
		<p>
  English and language arts instructors have long encouraged students
  to look up unknown words in the dictionary. 
<p>
	<p>
	But what good does that do?
<p>
	<p>
	Turns out, thumbing through a seventeen pound book does little to improve
	vocabulary. But keeping track of new words, representing them in verbal
	and visual forms, and sharing new acquisitions with friends - all of these 
	things can help build vocabulary without the back pain.
<p>
	<p>
	 
<p>
	<p>
	Come back soon! We'll be updating regularly, and new features are on the way.  
</p>
</div>
 <p align="left"><h1>Get Started </h1></p>
<div class="left-hero-unit">
	
		<p>
		Sign in or create an account. 
		<p>
		<p>Click the Twixionary icon at the top. 
			<p>
		<p>You will see a feed of all the words your friends have entered.
			<p>
		<p>By clicking "add new word" you will be able to add words to your own
		personal dictionary. 
		<p>
		<p>Select definitions you need from Pearson's highly acclaimed Longman Dictionary. 
		Tell us where you found the word, practice using it in a sentence,
		and while your at it, draw and save a picture. We find that intransitive verbs 
		make the best art.
		<p>
		<p>Now when you view your own profile, you will see all the words that you have entered.
		<p></p>
		</p>
	
</div>
</body>

