<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside> 
    <div class="span8">
      <h3>Word Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
<div class="center hero-unit">
  <h1>Welcome to Twixionary </h1>
  <p>
  <h2>
    Metamorphosize into a sagacious collegian.
	<p>
    <p>by <a href="http://panpearson.hackathon.io/teams/view/727">Compuglobalhypermeganet</a></p>
    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div class="left-hero-unit">
	<h2>
		Twixionary allows students of all species to look up, play with, and store words that they find.
		<p></p>
		<p></p>
		<p> Honestly, no one wants to look up "obfuscate" twice.</p>
	</h2>
</div>
<% end %>
	

