// Place all the styles related to the StaticPages controller here.
// They will automatically be included in custom.css.scss
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: url('Web Template 1 E-Sil.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.hero-unit {
  padding: 75px;
  margin-bottom: 75px;
  background-color: #ffffd6;
  @include border-radius(45px);
}

.left-hero-unit {
  padding: 40px;
  width: 500px;
  margin-bottom: 20px;
  background-color: #ffffd6;
  @include border-radius(25px);
  p {
    font-size: 18px;
    font-weight: 200;
    line-height: $baseLineHeight * 1.5;
    color: $heroUnitLeadColor;
  }
  h2 {
	text-align: left;
}
}

.btn {
  padding: 4px 10px 4px;
  line-height: $baseLineHeight;
  *line-height: 20px;
  color: #fff;
  @include buttonBackground(#ff3800, #ff5500);
  border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken($btnBorder, 10%);
  @include border-radius(4px);
  @include ie7-restore-left-whitespace(); // Give IE7 some love
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)});
}

.btn-large {
  padding: 20px 25px;
  font-size: $baseFontSize + 4px;
  line-height: normal;
  @include border-radius(10px);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-inner {
  background-color: #ff3800; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #ff3800, #ff5500);
  background-image: -ms-linear-gradient(top, #ff3800, #ff5500);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff3800), to(#ff5500));
  background-image: -webkit-linear-gradient(top, #ff3800, #ff5500);
  background-image: -o-linear-gradient(top, #ff3800, #ff5500);
  background-image: linear-gradient(top, #ff3800, #ff5500);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3800', endColorstr='#ff5500', GradientType=0);
}

.navbar .nav > li > a {
  float: none;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #ff3800;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* entries */

.entries {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}

.imagefeed {
   float:right;
   width: 100px;
}

.gravatar {
  float: left;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;


@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.error {
  border: 1px #f00;
  //background: #fdd;
}


.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.hide_field
{
  display:none;
}
